<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style></style>
    <title>XYZ Company</title>
  </head>
  <body>
    <h2>Contact Us form</h2>
    <p>Welcome to our company</p>
    <div class="container">
      <div style="text-align: center">
        <h2>Contact US</h2>
        <p>Please visit for your services</p>
      </div>
      <div class="row">
        <div class="column">
          <!-- <img
            src="https://res.cloudinary.com/dxec82vds/image/upload/v1616585175/mobile2_jpg5kv.jpg"
            style="width: 40%"
          /> -->
        </div>
        <div class="column">
          <form action="/">
            <label for="firstname">First Name</label>
            <input type="text" id="fname" placeholder="Your fist name" />
            <br />
            <br />
            <label for="lastname">Last Name</label>
            <input type="text" id="lname" placeholder="Your lastname" />

            <br /><br />
            <label for="country">Country</label>
            <select id="country" name="country">
              <option value=" Nigeria">Nigeria</option>
              <option value=" Ghana">Ghana</option>
              <option value=" Ethiopia">Ethiopia</option>
            </select>

            <br /><br />
            <textarea id="subject" style="height: 100px"></textarea>

            <br /><br />
            <input type="submit" value="submit" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
